body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FDF3E3;
    color: #333;
    height: 100vh;
}

.header {
    background-color: #17A2B8;
    color: white;
    padding: 20px 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.nav {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.nav__perfil {
    padding: 15px;
}

.nav__perfil img {
    width: 48px;
}

.nav__perfi-link {
    text-decoration: none;
    width: 24px;
}

.nav__chat {
    padding: 15px;
}

.nav__chat img {
    width: 48px;
}

.nav__chat-link {
    text-decoration: none;
    width: 24px;
}

.nav__notificacao {
    padding: 15px;
}

.nav__notificacao img {
    width: 48px;
}

.nav__notificacao-link {
    text-decoration: none;
    width: 24px;
}