body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FDF3E3;
}

.c-navbar {
    background-color: #17A2B8;
    color: white;
    padding: 20px 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.c-navbar__menu {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.c-navbar__perfil {
    padding: 15px;
    cursor: pointer;
}

.c-navbar__foto {
    
    cursor: pointer;
}

.c-navbar__foto img {
    width: 3rem;
}


.c-navbar__chat-link img {
    width: 3rem;
    cursor: pointer;
}

.c-navbar__notificacao-link {
    cursor: pointer;
}

.c-navbar__notificacao-link img {
    width: 3rem;
}

/* Seção do Carousel */
.c-section-carousel {
    margin: 50px;
}

.c-section-carousel .carousel img {
    height: 600px;
}

.c-carousel__content {
    background-color: #17A2B8;
}

/* Seção de Agendamento de Terapia */

.c-agendar__content {
    display: flex;
    justify-content: space-around;
    background-color: #17A2B8;
    border-radius: 20px;
    padding: 30px;
}

.c-agendar__consulta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c-agendar__consulta h2 {
    color: #FDF3E3;
    margin-bottom: 20px;
}

.c-agendar__consulta p {
    color: #FDF3E3;
    margin-bottom: 30px;
}

.c-agendar__calendario {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.c-agendar__button {
    background-color: #F9C40F;
    color: white;
    border: none;
    padding: 10px 50px;
    border-radius: 20px;
    width: 212px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.c-agendar__button:hover {
    background-color: #e0b00d;
    transform: translateY(-2px);
}

.c-agendar__calendario img {
    height: 250px;
}

/* Seção Links Úteis */
.c-section-links {
    margin: 50px 0;
}

.c-links__content {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.c-link-item {
    background-color: #00a0b2;
    color: white;
    text-align: center;
    padding: 20px;
    width: 284px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.c-link-item:hover {
    transform: scale(1.05);
}

.c-link-item a {
    text-decoration: none;
    color: #FFFF;
}

.c-link-item img {
    max-width: 50px;
    margin-bottom: 15px;
}

.c-link-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.c-link-item p {
    font-size: 1rem;
    margin: 0;
}

/* Seção de Agendamento de Espaço */
.c-section-agendar-espaco {
    margin: 50px 0;
}

.c-agendar-espaco__content {
    display: flex;
    justify-content: space-between;
}

.c-agendar-espaco__cuca img {
    width: 750px;
    margin-right: 20px;
}

.c-agendar-espaco__presencial {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c-agendar-espaco__presencial h3 {
    margin-bottom: 20px;
}

.c-agendar-espaco__presencial p {
    margin-bottom: 30px;
}

.c-agendar-espaco__button {
    background-color: #F9C40F;
    color: white;
    border: none;
    width: 212px;
    padding: 10px 50px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.c-agendar-espaco__button:hover {
    background-color: #e0b00d;
    transform: translateY(-2px);
}

/* Seção de Terapia em Grupo */
.c-section-grupos {
    padding: 50px 0;
  }
  
  .c-section-grupos__titulo {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .c-section-grupos__encontros {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .c-section-grupos__card {
    background-color: white;
    border: 2px solid #f9c40f;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 390px;
    max-height: 496px;
    height:100% ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  
  .c-section-grupos__card figure {
    margin: 0 0 20px;
  }
  
  .c-section-grupos__card img {
    width:100%;
    margin-bottom: 15px;
  }
  
  .c-section-grupos__card h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .c-section-grupos__card p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .c-section-grupos__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5px;
  }
  
  .c-section-grupos__footer img {
    width: 20px;
  }
  
  .c-section-grupos__footer span {
    font-size: 0.9rem;
    color: #666;
  }

  .c-section-grupos__info {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
  
  .c-section__button {
    background-color: #f9c40f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .c-section__button:hover {
    background-color: #e0b00d;
  }
  
