body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FDF3E3;
    color: #333;
}

.c-navbar {
    background-color: #17A2B8;
    color: white;
    padding: 20px 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.c-navbar__menu {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.c-navbar__perfil {
    padding: 15px;
    cursor: pointer;
}

.nav__perfil img {
    width: 48px;
}

.c-navbar__foto {
    text-decoration: none;
    width: 24px;
}

.nav__perfi-link img {
    width: 16px;
}